<app-sd-header></app-sd-header>
<div class="app-content">

  <div class="service-search-container mat-elevation-z5">
    <div class="title mat-elevation-z1">Search Dashboard</div>


    <div class="form flex mat-elevation-z1">
      <div class="row">
        <div class="form-group">
          <mat-label>
            Service Provider
          </mat-label>
          <mat-select class="input-select v" [(value)]="providerId">
            <mat-option *ngFor="let provider of serviceProviders" [value]="provider.value">
              {{ provider.label }}
            </mat-option>
          </mat-select>
        </div>
        <div class="form-group">
          <mat-label>
            Message Type
          </mat-label>
          <mat-select class="input-select" [(value)]="messageTypeId">
            <mat-option *ngFor="let type of messageTypes" [value]="type.value">
              {{ type.label }}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <mat-label>
            Service
          </mat-label>
          <input matInput class="input-text" [(ngModel)]="service"/>
        </div>
        <div class="form-group">
          <mat-label>
            Replay Y/N
          </mat-label>
          <mat-select class="input-select" [(value)]="replayType">
            <mat-option *ngFor="let type of replayTypes" [value]="type.value">
              {{ type.label }}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <mat-label>
            Service Version
          </mat-label>
          <mat-select class="input-select v" [(value)]="versionId">
            <mat-option *ngFor="let version of serviceVersions" [value]="version.value">
              {{ version.label }}
            </mat-option>
          </mat-select>
        </div>
        <div class="form-group">
          <mat-label>
            Sync/Async
          </mat-label>
          <mat-select class="input-select" [(value)]="transmissionType">
            <mat-option *ngFor="let type of transmissionTypes" [value]="type.value">
              {{ type.label }}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <mat-label>
            Requesting System
          </mat-label>
          <mat-select class="input-select v" [(value)]="requestingSystemId">
            <mat-option *ngFor="let system of requestingSystems" [value]="system.value">
              {{ system.label }}
            </mat-option>
          </mat-select>
        </div>
        <div class="form-group">
          <mat-label>
            Status
          </mat-label>
          <mat-select class="input-select" [(value)]="statusCd">
            <mat-option *ngFor="let status of statuses" [value]="status.value">
              {{ status.label }}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <mat-label>
            Requesting System Message ID
          </mat-label>
          <input matInput class="input-text" type="number" [(ngModel)]="requestingSystemMessageId"/>
        </div>
        <div class="form-group">
          <mat-label>
            Correlation ID
          </mat-label>
          <input matInput class="input-text" [(ngModel)]="correlationId"/>
        </div>
      </div>

      <div class="row">
        <div class="form-single">
          <div class="col">
            <div class="row">
              <mat-label>
                User ID
              </mat-label>
              <input matInput type="number" class="input-text" [(ngModel)]="userId"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <mat-label>
            Start Date/Time
          </mat-label>
          <mat-form-field>
            <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDt">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-label>
            Stop Date/Time
          </mat-label>
          <mat-form-field>
            <input matInput [matDatepicker]="stopPicker" [(ngModel)]="endDt">
            <mat-datepicker-toggle matSuffix [for]="stopPicker"></mat-datepicker-toggle>
            <mat-datepicker #stopPicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <div class="seq"></div>
          <div class="name-label type">Name</div>
          <div class="name-label">Value</div>
        </div>
        <div class="form-group">
          <div class="seq"></div>
          <div class="name-label type">Name</div>
          <div class="name-label">Value</div>
        </div>
      </div>
      <div class="row" *ngFor="let attr of attrs">
        <div class="form-group">
          <mat-label>
            Message Attribute Name
          </mat-label>
          <input matInput class="input-double-text" [(ngModel)]="attr[0].name" />
          <input matInput class="input-double-text" [(ngModel)]="attr[0].value" />
        </div>
        <div class="form-group">
          <mat-label>
            Message Attribute Name
          </mat-label>
          <input matInput class="input-double-text" [(ngModel)]="attr[1].name" />
          <input matInput class="input-double-text" [(ngModel)]="attr[1].value" />
        </div>
      </div>
    </div>
    <div class="form-footer">
      <button mat-button class="mat-elevation-z1" (click)="search()">
        <i class="fa fa-search fa-1x" aria-hidden="true"></i>
        <span>Search</span>
      </button>
      <button mat-button class="mat-elevation-z1" (click)="clear()">
        <span>Clear</span>
      </button>
    </div>
  </div>


  <div class="example-container mat-elevation-z5">

    <div class="table-top-container">
      <button mat-button class="mat-elevation-z1" (click)="resetSortOrder()">Reset Sort Order</button>
      <div class="seq"></div>
      <mat-paginator [length]="dataSource ? dataSource.length : 0 "
                     [pageSize]="dataSource ? dataSource.pageSize : 0"
                     [pageSizeOptions]="pageSizeOptions"
                     [showFirstLastButtons]="true"
                     (page)="onPaginateChange($event)">
      </mat-paginator>
    </div>


    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

      <ng-container matColumnDef="Select" class="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-checkbox [indeterminate]="false" [(ngModel)]="element.selected"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="Provider">
        <mat-header-cell *matHeaderCellDef mat-sort-header="serviceProvider"> Provider</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.provider}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Service">
        <mat-header-cell *matHeaderCellDef mat-sort-header="serviceName"> Service</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.service}}</mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Version">
        <mat-header-cell *matHeaderCellDef mat-sort-header="serviceVersion"> Version</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.version}}</mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Sync/Async">
        <mat-header-cell *matHeaderCellDef mat-sort-header="transmissionType"> Sync/Async</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.transmissionType}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Type">
        <mat-header-cell *matHeaderCellDef mat-sort-header="messageType"> Type</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.type}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="UserID">
        <mat-header-cell *matHeaderCellDef mat-sort-header="userId"> UserID</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.userId}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef mat-sort-header="statusCd"> Status</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Replay">
        <mat-header-cell *matHeaderCellDef mat-sort-header="replayMessage"> Replay</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.replay}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Timestamp">
        <mat-header-cell *matHeaderCellDef mat-sort-header="createdDate"> Timestamp</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.timestamp}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="table-footer-container">
      <button mat-button class="mat-elevation-z1" (click)="replayMessage()">Replay Selected</button>
    </div>
  </div>
</div>
